body{
  font-size: 30px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

nav li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #333;
}

li.active a:hover{
    background-color: #B2190E;
}

.active {
    background-color: #B2190E;
    color: white;
}

.container {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.columns img {

    float: left;
}

select option[disabled]{
    display: none;
}

form{
  margin-bottom: 100px;
  margin-top: 50px;
}

#review{
  margin-top:20px;
  margin-bottom:20px;
}

#select{
  margin-top: 20px;
}

form textarea{
  width: 500px;
  height: 200px;
}

.wrapper{
  margin-bottom:80px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.movieGrid{
  margin-left:20px;
  margin-right:20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
}

.picture img{
  width: 100%;
}

#redstarwars img{
  height:98%;
  width:100%;
}

.reviews{

}

h2{

  margin-top: 0px;
}

.signature{
  text-align:center;
  font-size: 20px;
}

hr{
  color:#aaa;
  border-width: medium;
  border-style:solid;
}
